$main-color: #66bb6a;

$text-white: #ffffff;
$text-black: #00000000;
$text-form-description: #767676;
$text-form-default: #2A2A2A;

$cards-section-color: #f1f8e9;
$card-color: #ffffff;
$form-section-color: #E8F5E9;


// TODO: verificar se dark theme ficaria legal mundando variaveis em tempo de execucao