@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

$font-family-default: 'Roboto', Arial, sans-serif;
$font-family-logo: 'Sansita Swashed', Arial, sans-serif;

$font-size-small: 15px;
$font-size-medium-1: 24px;
$font-size-medium-2: 28px;
$font-size-large: 48px;
$font-size-logo-header: 50px;
$font-size-logo-background: 96px;
$font-size-button: 20px;

$font-weight-default: 700;