.card {
    width: 308px;
    height: 426px;
    background-color: $card-color;
    border-radius: 15px;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 60px;
    border-radius: 20px 20px;
    padding: 0px;
    overflow: hidden;
    text-align: center;

    img {
        width: 100%;
        height: 40%;
    }

    h3 {
        margin-top: 20px;
        font-size: $font-size-medium-2;
        font-family: $font-family-default;
    }

    p {
        margin-top: 20px;
        font-size: $font-size-small;
        font-family: $font-family-default;
        padding: 10px;
        width: 80%;
        margin: 0 auto;
    }

    button {
        @include button-default;
        font-size: $font-size-button-medium;
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 29px;
        padding: 15px 30px;
    }
}