.card {
    width: 308px;
    height: 426px;
    background-color: $card-color;
    border-radius: 15px;
    display: inline-block;
    margin-top: 40px;
    border-radius: 20px 20px;
    padding: 0px;
    overflow: hidden;

    img {
        width: 100%;
    }

    h3 {
        margin-top: 20px;
        font-size: $font-size-medium-2;
        font-family: $font-family-default;
    }

    p {
        margin-top: 20px;
        font-size: $font-size-small;
        font-family: $font-family-default;
        padding: 10px;
    }

    button {
        margin-top: 20px;
        padding: 10px;
        background-color: $main-color;
        color: $text-white;
        border: none;
        font-size: $font-size-button;
        border-radius: 29px;
        padding: 15px 30px;

      
    }

}