header {
    background-color: $main-color;
    height: 123px;
    line-height: 123px;

    h2,
    nav {
        display: inline-block;
        vertical-align: middle;
        
    }

    nav {
        width: 55%;
        text-align: end;
        a {
            font-size: $font-size-medium-1;
            font-family: $font-family-default;
            font-weight: $font-weight-default;
            margin-left: 80px;
            color: $text-white;
            text-decoration: none;
        }
    }

    h2 {
        font-family: $font-family-logo;
        font-weight: $font-weight-default;
        font-size: $font-size-logo-header;
        color: $text-white;
        margin-left: 200px;
    }
}