header {
    background-color: $main-color;
    height: 10vh;

    h2,
    nav {
        display: inline-block;
    }

    nav {
        width: 40%;
        text-align: end;

        a {
            margin-left: 40px;
            color: $text-white;
            text-decoration: none;
        }
    }

    h2 {
        color: $text-white;
        margin-left: 200px;
        margin-top: 40px;
    }
}