@mixin button-default {
    font-family: $font-family-default;
    color: $text-white;
    background-color: $main-color;
}

@mixin input-default {
    border-radius: 25px;
    border: none;
    padding: auto 0;
    padding-left: 40px;
    width: 65%;
    height: 54px;
    margin: 10px auto;
    background-color: $form-input-color;
    font-family: $font-family-default;
    font-size: $font-size-medium-1;
}

@mixin shadow-config ($shadow-color, $blur,) {
    box-shadow: 0px 4px $blur $shadow-color;
}
