@import 'variables/_colors.scss';
@import 'variables/_typography';
@import 'utils/_mixins';

@import 'sections/hero';
@import 'sections/cards-section';
@import 'sections/form-section';

@import 'components/header';
@import 'components/card';
@import 'components/input';
@import 'components/footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}