@import 'variables/_colors.scss';
@import 'variables/typography';

@import 'components/header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-image: url(../assets/images/background.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    text-align: center;

    h2{
        font-size: 96px;
        color: $text-white;
    }

    p {
        font-size: 2rem;
        color: $text-white;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    button{
        font-size: 1rem;
        background-color: $main-color;
        color: $text-white;
        padding: 15px 30px;
        border: none;
        border-radius: 30px;
    }
}