@import 'variables/_colors.scss';
@import 'variables/_typography';
@import 'utils/_mixins';

@import 'components/header';
@import 'components/card';
@import 'components/input';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-section{
    background-image: url(../assets/images/background.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    text-align: center;

    h2{
        font-size: $font-size-logo-background;
        font-family: $font-family-logo;;
        color: $text-white;
    }

    p {
        font-size: $font-size-medium-1;
        font-family: $font-family-default;
        font-weight: $font-weight-default;
        color: $text-white;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    button{
        @include button-default;
        font-size: $font-size-medium-2;
        font-weight: $font-weight-default;
        padding: 30px 60px;
        border: none;
        border-radius: 68px;
    }
}

.cards-section{
    background-color: $cards-section-color;
    text-align: center;
}

.form-section{
    background-color: $form-section-color;
    text-align: center;
    padding: 10px;

    fieldset {
        border: none;
    }
    
    h2 {
        font-family: $font-family-default;
        font-size: $font-size-large;
        color: $text-form-default;
        font-weight: $font-weight-default;
        padding: 10px;
    }

    p {
        font-family: $font-family-default;
        font-size: $font-size-medium-2;
        color: $text-form-description;
        width: 50%;
        margin: 10px auto;
    }
}