@import 'variables/_colors.scss';
@import 'variables/_typography';
@import 'utils/_mixins';

@import 'components/header';
@import 'components/hero';
@import 'components/card';
@import 'components/input';
@import 'components/footer.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-section{
    background-color: $cards-section-color;
    text-align: center;
}

.form-section{
    background-color: $form-section-color;
    text-align: center;
    padding: 10px;

    fieldset {
        border: none;
    }
    
    h2 {
        font-family: $font-family-default;
        font-size: $font-size-large;
        color: $text-form-default;
        font-weight: $font-weight-default;
        padding: 10px;
    }

    p {
        font-family: $font-family-default;
        font-size: $font-size-medium-2;
        color: $text-form-description;
        width: 50%;
        margin: 10px auto;
    }

    select {
        @include input-default;
        color: $text-placeholder;
        font-family: $font-family-default;
        font-size: $font-size-medium-1;
        font-weight: $font-weight-default;
    }
}

